body {
    font-family: "helvetica"
}

h1 {
	font-weight: bold;
	text-shadow: 1px 1px 5px grey;
}

p.lead {
    text-shadow: 1px 1px 0.5px grey;
}

h4 span {
    font-size:14px;
    font-weight:normal;
}
  
h2 {
    float: right;
  }
  
h2 span {
    font-size:14px;
    font-weight:normal;
}

#mapid {
    width: 650px;
    height: 450px;
}